<div class="page-header">
  <h1>Allocation #<%= @allocation.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Target portfolio</dt>
  <dd><%= @allocation.target_portfolio_id %></dd>

  <dt>Etf</dt>
  <dd><%= @allocation.etf_id %></dd>

  <dt>Weight</dt>
  <dd><%= @allocation.weight %></dd>

</dl>
