<div class="page-header">
  <h1>Holding #<%= @holding.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Objective</dt>
  <dd><%= @holding.objective_id %></dd>

  <dt>Etf</dt>
  <dd><%= @holding.etf_id %></dd>

  <dt>Shares</dt>
  <dd><%= @holding.shares %></dd>

</dl>
