<div class="page-header">
  <h1>Price #<%= @price.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Etf</dt>
  <dd><%= @price.etf_id %></dd>

  <dt>Close date</dt>
  <dd><%= @price.close_date %></dd>

  <dt>Close price</dt>
  <dd><%= @price.close_price %></dd>

</dl>
